#body1
{
	background-image: url("bg1.jpg");
	background-size:contain;
}
#header
{
	height:200px;
	width:100%;
}
#image
{
	border-right: none;
}
#main
{
	<!__background-image: url("inup.jpg");
	background-repeat: no-repeat;
	background-position: center;-->
}
#signup
{
	height:200px;
	width:100%;
}
#login
{
	height:200px;
	width:100%;
}
#link
{
	text-decoration: none;
}